@using DaniKarijera.Models
@model dizajn
@{
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml"; ;
    ViewBag.Title = "FOI Dani karijera [Dodaj poslodavca]";
}



<style type="text/css">
    body {
        background-color: #DADADA;
    }

    .ui.menu .item img.logo {
        margin-right: 1.5em;
    }

    .main.container {
        margin-top: 7em;
    }

    .wireframe {
        margin-top: 2em;
    }

    .ui.footer.segment {
        margin: 5em 0em 0em;
        padding: 5em 0em;
    }

    * .table {
        margin-top: 10%;
    }

    .labeleeeeee{
    }
</style>




    <div class="ui text container">
        <form action="" class="ui large form" method="POST" enctype="multipart/form-data">
            <div class="ui middle aligned center aligned grid" style="background:#EEEEEE;">
                <div class="column">

                    
                    <div class="ui left corner labeled input">
                        <input type="text" name="dizajn.naziv"  placeholder="Naziv dizajna" >
                        <div class="ui left corner label">
                            <i class="asterisk icon"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ui middle aligned center aligned grid" style="background:#EEEEEE;">
                <div class="column">

                    <input type="file" name="dizajn.slika" placeholder="Slika">
                    <div class="ui left corner label">
                        <i class="asterisk icon"></i>
                    </div>

                </div>
            </div>

            
                      
            
            <div class="ui middle aligned center aligned grid" style="background:#EEEEEE;">
                <div class="column">
                    <input type="submit" class="ui fluid large  submit button " style="background:#691C4C; color:#FFF;" value="Spremi prostoriju">
                </div>
            </div>
        </form>
</div>

